
/* custom CSS style rules written here*/
/* otherwise most CSS style rules being pulled from assembly.min.css */

/* 
color scheme
#000000
#d16706
#9c7b66
#ffffff
*/
    body {
        /* background: #20282e; */
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    h2 {
        font-weight: 800;
        text-align: center;
    }

    p {
        line-height: 1.7rem;
    }

    #map {
        height: 75vh;
        /* 80% of viewport height of element */
        background: #e3ccc1;
    }

    #wmmtMap {
        background: blue;
    }

    /* xtra small devices (phones, 576px and below) */
    /* small devices (phones, 576px and up) */
    @media (min-width: 576) {}

    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {}

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {}

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {}

/* #info {
    z-index: 1000;
} */

.banner1
{
    background: url('../graphics/jail_door_mcgrady.jpg') no-repeat top;
}

h1 {
    color: #d16706;
    font-family: "Permanent Marker", cursive;
    Font-size: 55px;
    text-align:center;

}

h2{
    color:  #9c7b66;
}

.tickcolcenter
{
    max-width: 800px;
    display: inline-block;  
}

#timer{
font-size: 20px;
color: orange;
font-weight: bold;
text-align: center;
}

#cost {
    font-size: 20px;
    color: orange;
    font-weight:bold;
}

body{
    font-family: "Overpass", Sans-Serif;
    font-size: 18px
}


hr.small,
hr.large {
    width: 83px;
    position: absolute;
    top: -8px;
    left: 55px;
    border: 1px dashed #ccc;
    /* overwrite assembly.css rule */
    margin-top: 8px;
    /* overwrite assembly.css rule */
}

/* resize modals using css */
.modal-lg {
width: 500 px;
}

.modal-header{
    font-family: "Permanent Marker", cursive;
    Font-size: 20px;
}
.minute {
    color: #000000;
}

.tickcol{
    float: left;
    width: 100%;
    font-size: 17.5px;
    position: relative;
    transform: translateY(8%);
    margin: 2% 0 2% 0;
}

div.calculator{
    text-align: center;
}

