
/* custom CSS style rules written here*/
/* otherwise most CSS style rules being pulled from assembly.min.css */

/* kenyan flag color scheme 
adobe color confirmed color blind safe
#000000
#d16706
#9c7b66
#ffffff
*/



#map {
    background: #448ee4;
}

#info {
    z-index: 1000;
}

header {
    padding: 154px 0 100px;
    background: linear-gradient (45 deg, rgba(39, 43, 48, 0.8) 0%, rgba(39,43,48, 0.9) 100%), url ('../graphics/jail_door_mcgrady.jpg');
}

header h1 {
    color: #d16706;
    font-family: "Permanent Marker", cursive;
    Font-size: 55px;
}

h2{
    color:  #9c7b66;
}

body{
    font-family: "Overpass", Sans-Serif;
    font-size: 10px
}
.legend-large, .legend-small {
    border-radius: 50%;
}

hr.small,
hr.large {
    width: 83px;
    position: absolute;
    top: -8px;
    left: 55px;
    border: 1px dashed #ccc;
    /* overwrite assembly.css rule */
    margin-top: 8px;
    /* overwrite assembly.css rule */
}

.minute {
    color: #000000;
}

.addMinute {
    color: #9c7b66;
}

.fifteenMinute{
    color: #d16706;
}

.page-header{
    height: 60 px;
    margin-top: 0px;
    background-size: cover;
    background-image: url(./graphics/jail_door_mcgrady.jpg);
}

/* absolute position within relative container in absolute position 30 px and 14 px */
#legend-button {
    bottom: 30px;
    right: 14px;
    position: absolute;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
    z-index: 1100;
  }
