/* custom CSS style rules written here*/
/* otherwise most CSS style rules being pulled from assembly.min.css */

/* 
color scheme
#000000
#d16706
#9c7b66
#ffffff
*/
body {
    /* background: #20282e; */
    font-family: 'Overpass', sans-serif;
    font-size:18px;
    font-weight: 400;
    color: #e3ccc1;
    background: #9c7b66;
    
}

h1 {
    color: #ee7b0f;
    font-family: "Permanent Marker", cursive;
    Font-size: 55px;
    text-align: center;

}

h2 {
    color: #e3ccc1;
}

h2 {
    font-weight: 800;
    text-align: center;
}

h7 {
    color:red;
}

h8 {
    color:#d16706;
}

h9 {
    color:gray;
}

h10 {
    color: blue;
}

p {
    line-height: 1.7rem;
}

a {
    color: #ee7b0f;
}

a:hover {
    color: #e3ccc1
}

#map {
    height: 75vh;
    /* 80% of viewport height of element */
    background: #e3ccc1;
}

#wmmtMap {
    background: blue;
}

#timer {
    font-size: 20px;
    color: #ee7b0f;
    font-weight: bold;
    text-align: center;
}

#cost {
    font-size: 20px;
    color: #ee7b0f;
    font-weight: bold;
}

.tickcolcenter {
    max-width: 800px;
    display: inline-block;

}

hr.small,
hr.large {
    width: 83px;
    position: absolute;
    top: -8px;
    left: 55px;
    border: 1px dashed #ccc;
    /* overwrite assembly.css rule */
    margin-top: 8px;
    /* overwrite assembly.css rule */
}


/* resize modals using css */
.modal-lg {
    width: 500 px;
}

.modal-header {
    font-family: "Permanent Marker", cursive;
    Font-size: 20px;
}

.minute {
    color: #000000;
}

.tickcol {
    float: left;
    width: 100%;
    font-size: 17.5px;
    position: relative;
    transform: translateY(8%);
    margin: 2% 0 2% 0;
}

div.calculator {
    text-align: center;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/* #info {
    z-index: 1000;
} */

/* .banner1
{
    background: url('../graphics/jail_door_mcgrady.jpg') 100%;
} */

/* xtra small devices (phones, 576px and below) */
/* small devices (phones, 576px and up) */
@media (min-width: 576) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}



